@tailwind base;
@tailwind components;
@tailwind utilities;

.box {
  width: fit-content;
  height: auto;
  background-color: hsla(0, 0%, 100%, 0.95);
  color: #0b0c0d;
  padding: 0 5px;
  position: relative;
  float: left;
  border-radius: 12px;
  font-size: 15px;
  border: none;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: 0 1px 0.5px rgba(11, 20, 26, 0.13);
}

.box-row {
  background-color: #d9fdd3;
  justify-items: flex-end;
}

.box.arrow-right {
  margin-top: 10px;
  border-top-left-radius: 12px;
  background-color: #d9fdd3;
}

.box.arrow-left {
  margin-top: 10px;
  border-top-right-radius: 12px;
  background-color: hsla(0, 0%, 100%, 0.95);
}

.box.arrow-right:after {
  content: " ";
  position: absolute;
  right: -10px;
  top: -3px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #d9fdd3;
  transform: rotate(-48deg);
}

.box.arrow-left:after {
  content: "";
  position: absolute;
  left: -3px;
  top: -10px;
  border-top: 15px solid transparent;
  border-right: 14px solid hsla(0, 0%, 100%, 0.95);
  border-left: none;
  border-bottom: 15px solid transparent;
  transform: rotate(136deg);
}

.pulsating-circle {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translateX(-130%) translateY(-50%);
  width: 30px;
  height: 30px;

  &::before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #01a4e9;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }
}
